@charset "UTF-8";

/* CSS para Impressoras */

* {
    margin: 10px;
    padding: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 18pt;
    line-height: 18pt;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: "Esse artigo foi impresso através do site www.wwwcom.com";
}