@charset "UTF-8";

/* Tablet */
@media screen and (min-width: 769px) {
    #burguer {
        display: none;
    }

    nav {
        display: block;
        width: fit-content;
        margin: auto;
        padding: 0px;
    }

    nav > a {
        display: inline-block;
        width: 15vw;
        padding: 10px 20px 3px;

        font-size: 2.25vw;
    }

    nav > a:not(:first-child):not(:last-child) {
        margin: 0px;
    }
}

/* Notebook+ */
@media screen and (min-width: 1025px) {
    nav {
        width: 100%;
        padding: 5px 10px;
        background-color: #474747;
    }

    nav > a {
        width: fit-content;
        padding: 5px 10px;
        font-size: 16pt;
    }
}
